[2018-04-11 17:21] leonardt opened #1 "add support for int(bv)"

[2018-04-11 17:26] leonardt opened #2 "Merge functionality with caleb's mask class"
https://github.com/cdonovick/SMT-PNR/blob/master/pnrdoctor/util/mask.py#L19

[2018-04-11 17:35] leonardt commented on #1
Done by 3cdb0350e8778f9e74bbba1184d2100ab04e27bb

[2018-04-11 17:35] #1 closed, assigned to leonardt

[2018-04-16 00:44] leonardt opened #4 "Add some unit tests"
Should add some parametrized random tests probably against Python's built in integer type.

Also should test the operations with `value = None` (X)

[2018-06-28 19:33] leonardt opened #5 "Rearchitect how signedness is handled"
Use a class hierarchy for a SInt and UInt rather than embedding a `signed` mode into a single class

[2018-07-04 18:30] leonardt commented on #5
Proposal from Pat, which I think is a nice design:
1. BitVector just implements bit vectors, and has no notion of signed and
unsigned. I would suggest we just handle signed numbers as inputs and
outputs. For example, bv.as_int would return a signed number, and bv.as_uint
would always return an unsigned.

2. We add two subclasses, UIntVector and SIntVector. UintVector = BitVector.
SIntVector would

[2018-07-30 23:45] leonardt opened #7 "SMT BitVector corner cases"
If we want to match the SMT semantics, we should watch out for
[code]

[2018-07-31 15:25] phanrahan commented on #7
I believe
[code]
The reason for specifying divide by 0 is that they want total functions (always well-defined).

This logic guarantees the following theorem holds:
[code]

This should be implemented in my PR.

[2018-07-31 15:26] phanrahan commented on #4
We need to develop tests with X. Not sure what the semantics is here, since X is not part of SMTLIB.

[2018-08-15 17:51] leonardt opened #9 "Add a Bit type"
This gives us an object that has the same semantics in terms of operators as the BitVector, but distinguishes it from a multi-bit value. Here's an example of why just using a Python `bool` isn't ideal
[code]

Bit operators can match the ones we've defined for magma (logical ops and equality).

[2019-01-08 19:04] leonardt opened #13 "Remove cast logic on extension"
Discussed this in person with Pat, there's issues related to subtyping of `BitVector` and casting the return value of the extension operators (mainly due to preserving the bit_width). Proposal is to not cast the result of extension so it returns a raw BitVector, then if a user wants to preserve the type, they should redefine the extension logic for their sub type to handle the conversion.

[2019-01-08 21:03] #13 closed, assigned to leonardt

[2019-01-17 21:18] cdonovick opened #16 "Make bitvector ABC"
We should create a BitVector ABC to aid abstraction of the BV types.

This ideally would provide mixin methods where appropriate, e.g. define  `bvnot` and `bvand` get `bvnand` for free.

Crazy idea: I think we could get away with requiring only `__getitem__`, `concat`, and `bvnand`  for all of the `bv*` methods but that would lead to inefficient code so we probably don't want to encourage that.

W

[2019-01-17 22:06] phanrahan commented on #16
These all seem like good ideas.

@cdonovick, any chance you could draft an abc class for bitvector so we can make all this more concrete?

[2019-01-17 22:16] cdonovick commented on #16
@phanrahan okay will draft one

[2019-01-17 23:25] cdonovick commented on #16
@phanrahan @leonardt
https://github.com/cdonovick/bit_vector/blob/abc/bit_vector/bit_vector_abc.py
https://github.com/cdonovick/bit_vector/blob/abc/bit_vector/bit_vector.py

[2019-02-28 20:21] leonardt commented on #16
Closed by https://github.com/leonardt/bit_vector/pull/17, let's open more specific issues as they arise.

[2019-02-28 20:21] #16 closed, assigned to nobody

[2019-03-08 18:36] leonardt commented on #9
It exists!

[2019-03-08 18:36] #9 closed, assigned to nobody

[2019-03-08 18:36] leonardt commented on #7
We've addressed the specific mentioned issues, we can open up new issues to track this if we run into them.

[2019-03-08 18:36] #7 closed, assigned to nobody

[2019-04-22 18:18] leonardt commented on #5
done

[2019-04-22 18:18] #5 closed, assigned to leonardt

[2019-04-22 18:18] leonardt commented on #2
Closing because stale

[2019-04-22 18:18] #2 closed, assigned to nobody

[2019-04-22 18:19] leonardt commented on #4
Done, we should open up specific issues for missing tests.

[2019-04-22 18:19] #4 closed, assigned to nobody

[2019-05-06 23:16] leonardt opened #27 "Add BFloat to hwtypes"
We have an initial implementation of BFloat for lassen: https://github.com/StanfordAHA/lassen/blob/master/lassen/bfloat.py

We should migrate it here, but ensure that it meets the BFloat spec before we merge it into master.

[2019-05-08 03:16] rdaly525 opened #28 "ADT feature request for Sum"
Product has a nice feature in that I can get all the types it uses.

[code]
It would be great if there was somehow an API to grab the types from a sum type as well.

[code]
I know that sum types are not ordered, so this does not really work. One way would be to be able to optionally have a name associated with each type (is this just a tagged union?)

I am open to other suggestions as well. Someth

[2019-05-08 21:02] rdaly525 commented on #28
I think the solution we just discussed for now is to have an accessor like the following:

[code]

[2019-05-10 22:02] #28 closed, assigned to cdonovick

[2019-05-18 13:19] phanrahan opened #31 "bitvector.random"
if I do Bits16 = BitVector[16]

I can't do Bits16.random() to get a random number. I seem to need to call BitVector.random(16).

Am I missing something? I am contantly generating number numbers for tests, so this would be a nice feature to have.

I am thinking it would also be good to create options for different distributions of random numbers. For example, SIntVector.random(width, sampler="strat

[2019-05-20 01:27] cdonovick commented on #31
@phanrahan I agree it would make sense to make the random method a classmethod instead of a staticmethod (already the case FPVector).

I am not quite sure what it means to ensure half the random numbers are positive and half are negative on a method that returns a single number.

[2019-05-20 14:15] phanrahan commented on #31
We could alternate generating positive and negative numbers. Just make sure for a small number of calls that we stratify the samples. Mostly, I want to create a framework for using better sampling methods.

[2019-05-20 15:37] leonardt opened #32 "`__int__` for Bit"
@cdonovick did we intentionally decide not to include `__int__` for bit?  If not, I can add support, but wanted to double check.

I have the following code
[code]

Originally I had `bool` as `int` (to convert to int for the sum). However, using `bool` is fine because `True + True == 2` in python.

[2019-05-20 18:58] cdonovick commented on #32
There is no reason we can't have `__int__` on Bit.  The one thing to keep in mind is both `__bool__`  and `__int__` cannot be supported by SMT and magma I assume.

[2019-05-20 19:08] cdonovick commented on #31
@phanrahan I created an SMT based constrained random generator for fault.  However, the constraints are on individual samples not over a set of samples.
https://github.com/leonardt/fault/blob/master/fault/random.py
https://github.com/leonardt/fault/blob/master/tests/test_constrained_random.py
For "stateful" constraints it make sense to change the api from
[code]
to
[code]
or
[code]
tagging @leonar

[2019-05-20 21:51] #32 closed, assigned to leonardt, cdonovick

[2019-05-21 02:14] makaimann opened #37 "Possibly factor out FP into its own package"
It would be nice to not have the extra dependencies on `libmpfr-dev` and `libmpc-dev` in CoSA when we will likely not being using the floating point features very often (if at all).

For now, it's not a problem, but it would be nice if the FP stuff was separate, assuming that's not too difficult for you all.

[2019-05-21 02:29] cdonovick commented on #37
Similarly I believe the SMT bitvectors should also be factored so non-smt consumers don't require SMT

currently I imagine the package structure as:
[code]

[2019-05-21 20:47] rdaly525 opened #38 "FPVector is missing "to_fp" method"
This would cast a BitVector to floating point.

[code]

[2019-05-21 21:48] cdonovick commented on #38
To cast you should use `Bfloat16(bv)` I will add the appropriate constructor.

[2019-05-22 18:14] cdonovick commented on #27
resolved by #34

[2019-05-22 18:14] #27 closed, assigned to cdonovick

[2019-05-23 16:00] #38 closed, assigned to cdonovick

[2019-05-28 22:35] leonardt commented on #37
@cdonovick this is now blocking @ankita0805 because the TSMC VMs (where she's running PD tests) are running an old version of RHEL (6) that only provide MPC 0.8 and MPFR 2.4.1. `gmpy2` requires MPFR 3.1.0 and MPC 1.0.0.  We're investigating a workaround to install a newer version of those libraries, but relaxing this dependency by making it optional would help

[2019-05-29 23:46] leonardt commented on #37
For now we unblocked ankita by running a hwtypes branch with the fp dependency removed because I think she doesn't need those features, we can lower the priority for this issue unless something else comes up.

[2019-06-04 18:48] rdaly525 opened #45 "semantics for Bitvector concat is opposite of magma concat"
semantics for magma.concat is concat(lsbs,msbs) while hwtypes.BitVector.concat is concat(msbs,lsbs)

We should unify the semantics. I would prefer magma's version but at the end of the day, it does not matter.

[2019-06-06 18:00] phanrahan commented on #45
We store bits such that the 0th (lsb) is indexed as 0. The magma concat would be consistent with the normal list concat. I suggest we change the implementation in hwtypes.

[2019-06-07 19:13] cdonovick commented on #45
The hwtypes implementation is consistent with SMTLib which also has lsb 0 semantics.  I am fine with it either way though.

[2019-06-07 19:32] cdonovick opened #46 "FPVector construction"
While preparing #36 for merge I have a discovered two issues with FPVector.
RoundingMode.RNA (round ties away from zero) rounds everything away from zero not just ties
`FPVector(<LITERAL>)`  seems to return the wrong value sometimes although I haven't really worked out exactly why.

One solution would be to use z3 and its constant propegation to implement FPVector but it will be much slower.

As f

[2019-06-07 20:42] leonardt opened #47 "len of BitVector class"
I tried writing this:
[code]

I found that I can write `hwtypes.BitVector[32].size` to get what I want, but should we consider adding support for `len`? Or is there an issue that I'm not aware of?

[2019-06-07 21:08] cdonovick commented on #47
Adding `__len__` to `AbstractBitVectorMeta` should not be an issue.

[2019-06-07 22:11] cdonovick opened #49 "[feature-request] Array Type"
Add an array type to better match the magma type hierarchy.

[2019-06-07 23:42] #47 closed, assigned to leonardt, cdonovick

[2019-06-11 20:08] rdaly525 opened #51 "[feature request] random method on Bit"
This would make it consistent with BitVector and the other types

[2019-06-12 16:48] #45 closed, assigned to phanrahan, leonardt, cdonovick

[2019-07-05 19:11] rdaly525 opened #56 "[feature request] dynamic constructor for adt.Product"
`new_product(class_name : str, field_dict : tp.Mapping[str,type])`

[2019-07-06 15:41] rdaly525 opened #57 "getting the 'nth' field from an adt.Product"
It would be great if field_dict and value_dict in adt.Product were an OrderedDict. Alternatively, keeping a ordered list of field names would be sufficient.

@cdonovick, is there any ways to get the 'nth' field from a Product currently?

[2019-07-06 17:13] rdaly525 opened #58 "if 'value' is used as a field in Product, a stack overflow occurs"
[code]

[2019-07-08 17:47] leonardt commented on #58
I think we might want to make this a reserved keyword because `value` is a property (see https://github.com/leonardt/hwtypes/blob/master/hwtypes/adt.py#L52). Is there an easy way to catch this and throw an error?

[2019-07-08 18:58] rdaly525 commented on #58
Im fine with making it a reserved keyword. It should error gracefully though.

[2019-07-08 18:59] rdaly525 commented on #56
My current hack for this
[code]

[2019-07-08 19:26] cdonovick commented on #58
Yes I can make it fail gracefully

[2019-07-08 20:33] cdonovick commented on #57
@rdaly525 all dicts are ordered in 3.7 and have been in CPython since 3.6. The nth fieldname is the nth key.

https://docs.python.org/3/library/stdtypes.html#typesmapping
"Dictionaries preserve insertion order. Note that updating a key does not affect the order. Keys added after deletion are inserted at the end. ... Changed in version 3.7: Dictionary order is guaranteed to be insertion order. This

[2019-07-08 20:38] cdonovick commented on #57
As the order should matter in comparison of field dicts I will switch to an OrderedDict

[2019-07-10 14:52] #58 closed, assigned to cdonovick

[2019-07-10 22:14] #57 closed, assigned to cdonovick

[2019-07-10 22:37] cdonovick commented on #56
I totally forgot we already have this feature.

[code]

Are equivalent

[2019-07-10 22:45] cdonovick commented on #56
However, I am removing the call version in favor of a method based version

[2019-07-11 18:06] #56 closed, assigned to cdonovick

[2019-07-12 01:00] rdaly525 opened #65 "[feature-request] rebind(new_family) method on ADT types"

[2019-07-15 19:52] rdaly525 opened #67 "[feature-request] Sum.from_fields() constructor"

[2019-07-16 15:48] #65 closed, assigned to cdonovick

[2019-07-17 03:52] rdaly525 opened #68 "[feature-request] Access and modify Sum types by name (similar API to Product)"
[code]

[2019-07-17 04:40] rdaly525 opened #69 "Setting a non-field attribute of Sum or Product should error."
[code]

[2019-07-17 16:34] cdonovick commented on #69
Disagree. This would break existing code.

[2019-07-17 16:34] #69 closed, assigned to cdonovick

[2019-07-17 16:44] cdonovick commented on #67
I dont understand why you need this or the interface to this would be.  Sums are already constructed from fields. `Sum[fields] == Sum.from_fields(fields)`

[2019-07-17 16:46] rdaly525 commented on #67
Sorry, I guess that is true.

In the future it would be nice to have something like TaggedUnion constructed with a 'from_fields' method

[2019-07-17 16:48] #67 closed, assigned to cdonovick

[2019-07-17 18:31] #68 closed, assigned to cdonovick

[2019-07-17 18:41] rdaly525 opened #71 "Possible ADT naming change for more consistency"
I think we should rename our adt types to be the following:

(sum types)
Variant
TaggedUnion

(product types)
Tuple
Record

Currently, Sum behaves like Variant, Product behaves like Record, and Tuple behaves like Tuple.

This would mean that there is no class called Sum or Product for constructors.

Thoughts on this? It is a bit weird to currently have 'Sum' refer to the unnamed version of an ADT

[2019-07-18 23:11] rdaly525 opened #74 "rebind does not work as expected"
[code]

If there is another expected way to do this, let me know

[2019-07-19 00:49] rdaly525 opened #75 "Access Tuple types via field_dict or getattr"
To be consistent with Sum, Tuple should support indices as the field names for both Tuple types and objects

[code]

Also a consistent object constructor would be nice as well

[code]

[2019-07-21 02:17] rdaly525 opened #76 "[feature-request] Product types defined the same way should be the same object."
I Ideally would like the following to work.

[code]
I do not think this would change any existing code and would be immensely helpful.

[2019-07-22 19:45] cdonovick commented on #76
This would potentially break existing code (the bitfield stuff).

However I would be open to the following modification:
[code]
Basically make Identical products types equal.

[2019-07-23 18:44] rdaly525 commented on #76
That is fine.

This is mostly for user code on checking the type of Sum types.

[2019-07-24 15:55] rdaly525 opened #78 "Method to construct a default value on all ADT types and all BitVector Types"
This has come up in a few situations where I needed to construct a default value.

Specifically when I needed the structure of the adt type so that I could modify it, also default values when calling peak objects (peak.register) for example.

[2019-07-24 23:06] rdaly525 commented on #71
@leonardt @cdonovick @phanrahan

This is the issue I mentioned about potentially renaming ADT classes.

[2019-07-25 21:46] #76 closed, assigned to cdonovick

[2019-07-26 19:32] cdonovick commented on #74
closed by #79

[2019-07-26 19:32] #74 closed, assigned to cdonovick

[2019-07-28 19:48] rdaly525 opened #81 "Cannot construct product with fields that are modifiers."
Example:

[code]

[2019-07-28 19:54] cdonovick commented on #81
This is desired behavior.
`isinstance(Bit(0), B(Bit)) == false`

[2019-07-28 19:54] #81 closed, assigned to nobody

[2019-07-30 01:40] rdaly525 opened #82 "Rebind does not work with modifiers"
I added the following (failing) test. https://github.com/leonardt/hwtypes/blob/c13cd0ddd3c60a634a0f7c10f00ec5bbd107e024/tests/test_rebind.py#L154

[2019-07-30 02:09] cdonovick commented on #82
This is desired behavior.  Will update `rebind_bitvector` api so you can achieve what you want.  Although not with the syntax you are using.

[2019-07-30 02:09] #82 closed, assigned to cdonovick

[2019-07-30 22:03] phanrahan commented on #71
I like the idea of unifying the system so all variants of tagged vs non-tagged and product vs sum are possible.

Can we add class names to Sum? And support both indexed and named access?

[2019-07-30 22:14] cdonovick commented on #71
@phanrahan
We currently support named access
[code]
But we don't have syntax for having specified names e.g.:
[code]

[2019-07-31 19:11] phanrahan commented on #71
I thought about this some more. I personally don't think we need a tagged variant of Sum types. There is no need to access an instance of a sum type except via match. Product types are different in that we have to access the fields of an instance.

[2019-08-01 16:40] cdonovick opened #87 "SMTBitVector needs tests"

[2019-08-02 19:35] rdaly525 opened #89 "Rebind should work on ADT types with modifiers"
[code]

I need something like this functionality for generating correct mappings.

[2019-08-03 05:56] rdaly525 commented on #89
Fixed by #90

[2019-09-18 00:30] rdaly525 opened #95 "Add helper method to extract (sign,exp,frac) bits from a FPBitvector"

[2019-09-25 17:07] cdonovick opened #98 "[RFC] The Future of Families"
Type families are a hack.  I would like to make them more elegant.

I want to define a class `Family` which expects that inheriting classes will have inner classes `Bit` and `BitVector`, then automatically generates `Signed` /  `Unsigned`  for those classes.

[code]
expands to
[code]

Where
[code]

Now currently `Unsigned` is pointless as it is basically just an alias of `BitVector`.  So I think w

[2019-09-25 17:09] leonardt commented on #98
FWIW, in magma we distinguish Bits from UInt based on the definition of arithmetic/comparison operators (i.e. raw bits just have logical element wise operators and equality, uint adds a notion of addition, less then, etc... since these only hav meaning if you're interpreting the bits in a certain way). However, it seems like this is inconsistent with the SMT bitvector theory? (which defines all th

[2019-09-25 17:18] cdonovick commented on #98
@leonardt
Theory bitvectors doesn't have a notion of signedness just defines functions (e.g. `bvslt`, `bvult`) and none of those functions are of the form `__[^_].*[^_]__` (no dunders).  So it would be completely consistent to remove all operators  and `ext` from `BitVector` and have them only defined on `Unsigned` / `Signed`

[2019-09-25 20:32] #89 closed, assigned to cdonovick

[2019-09-25 20:35] cdonovick commented on #78
@rdaly525 is this still an issue? can you be more concrete?

[2019-09-25 20:37] #75 closed, assigned to cdonovick

[2019-09-25 20:57] rdaly525 commented on #78
I think this is unneeded now that we have assembled-adt. Closing

[2019-09-25 20:57] #78 closed, assigned to nobody

[2019-10-05 15:21] phanrahan commented on #49
Could we bump this in priority? This would be very useful for the design space exploration paper.

[2019-10-05 19:52] cdonovick commented on #49
I can bang out a provisional versional.  What operations should the array support?  Just getitem?

[2019-10-05 20:05] phanrahan commented on #49
getitem for sure.

We should also be able to declare an array as an argument to a peak method. And construct an array from a set of values.

Thanks!

[2019-10-05 20:06] cdonovick commented on #49
Would a Tuple work for your purposes?
It will be a bit verbose but it works now.

On Sat, Oct 5, 2019, 4:05 PM Pat Hanrahan <notifications@github.com> wrote:

[2019-10-05 20:18] phanrahan commented on #49
I can make a tuple work. But an array would be a lot cleaner. The problem is I am trying to write a generator, and tuples might require macros. ;)

[2019-10-05 20:30] cdonovick commented on #49
I don't think they should.  Array[N, T] is Tuple[T for _ in range(N)].

On Sat, Oct 5, 2019, 4:18 PM Pat Hanrahan <notifications@github.com> wrote:

[2019-10-15 18:25] cdonovick commented on #98
In https://github.com/phanrahan/magma/issues/457 @jameshegarty requested type checking on signedness.

One way we could approach the role of Unsigned is simply for type checking.
Currently, both modifiers and signed / unsigned is ignored by all BitVector operations and coerces to the lhs to the type of rhs.
[code]
This is convenient as the code doesn't need to be littered with casts.
One approach

[2019-10-15 18:57] jameshegarty commented on #98
I don't have much context for this discussion but maybe I can add some issues I've run into. IMO It's realllly hard to automatically figure out the type conversions for math ops (eg to cast unsigned to signed without losing precision, you need to add an extra bit, but you also may not want this a lot of the time!). Not saying it's impossible, but without spending a lot of time on this, IMO I would

[2019-10-15 19:06] jameshegarty commented on #98
btw I think my request was related to Magma in general (ie including arrays, handshakes, whatever). I don't fully understand how this repo relates to that effort.

[2019-10-15 19:18] cdonovick commented on #98
@jameshegarty

This is 100% true.  Won't stop me from raising warnings though.

For it to be backwards compatible it would needs to be explicit enable instead of explicit disable.

This repo defines (or will define in the future) the interfaces to these types and provides python functional models.

[2019-10-15 20:42] phanrahan commented on #98
I wanted to comment on how I thought the code was suppose to work. Sadly, no guarantees.

All operators should be strictly typed. For example, you can add two unsigned or two signed, but not a signed and an unsigned. The result should be the same type as the operands.

Also, recall the type hierarchy.

Bits < Arrays
UInt < Bits
SInt < Bits

This means that array access are inplemented on Bits, UIn

[2019-10-15 21:31] jameshegarty commented on #98
I agree with that, I think that makes sense! My understanding is then, you could send a UInt[8] into a port that expects Bits[8], but could not send a SInt[8] into a UInt[8] port. And I would advocate for having the same behavior on the <= assignment as well, and the other various ways of doing wiring.

[2019-10-15 22:01] cdonovick commented on #98
As I mentioned above this is not this case and will break things if it is.  I am fine with making things strict if we can get people to update downstream tools...

We need to unify the `Bits` and `BitVector` interfaces which means either `Bits` is going to gain arithmetic / comparison operators  or `BitVector` is going to lose them.  As removing operators from `BitVector` will break just about eve

[2019-10-15 22:04] cdonovick commented on #98
Addendum:
It is isn't technically necessary for `Bits` to have arithmetic operators as they are not part of the `AbstractBitVector` interface.  However, people use `AbstractBitVector` with the assumption that operators will be defined.

[2019-10-15 22:15] phanrahan commented on #98
What about implementing all the operators as methods in BitVector, but only overload
the operators in python in the way I described.

I do agree in general with James that we should be stricter on typing.

[2019-10-15 22:32] cdonovick commented on #98
the operators in python in the way I described.

This is currently the case `AbstractBitVector` requires all the `bvop` methods but no operators.  My concern is that people use `AbstractBitVector` expecting them to behave like `BitVector`.

[2019-10-15 22:33] cdonovick commented on #98
@phanrahan
Also I still want to know the expected return types of the following expressions
[code]

[2019-10-15 22:38] phanrahan commented on #98
I agree that it may be confusing to not overload the operators in BitVector. We could create a new class Bits, but let me think about it.

The following
[code]
would all be errors, since it would be an error to do an implicit cast.
[code]
would work.

[2019-10-15 22:59] cdonovick commented on #98
@phanrahan so this should be an error as well then?
[code]
Also what about
[code]
I personally am not really a _user_ of hwtypes so have very little stake in the decision.  However, I want to be clear about all the cases and ramifications of requiring an explicit type match.

[2019-10-16 15:18] phanrahan commented on #98
@leonardt and I discussed this case in the past
[code]
We thought that this should be allowed, with a type check that the python `int` fits within the uint or sint. It would not be legal to do `uint + (-1)`, for example. I could imagine this would be a good choice for any python type that supports `__int__`.

Generally, we would support inheritance on magma types. So, Tagged would be considered a

[2019-10-16 16:06] cdonovick commented on #98
I somewhat disagree with your stance on `uint + (-1)`.  `UInt(-1)`  is legal and in my opinion should remain legal, it's a super useful way to construct masks.  It would seem uninitiative to me to then block arithmetic operators using it.

But even without that, the rules you are describing are becoming a bit convoluted.
[code]
If I have misinterpreted your goals please correct me.

[2019-10-16 17:11] phanrahan commented on #98
I was thinking that bitwise operators would be part of uint and sint, since these are subclasses of bits.

Thinking about it some more, I am worried that checking for __int__ is too general.

My code would probable be simpler.
[code]
And then make sure the operators return type(self).

[2019-10-16 17:33] cdonovick commented on #98
Your code excludes `tagged + uint`.

[2019-10-16 17:40] phanrahan commented on #98
I would only allow `tagged + tagged`.

[2019-10-16 17:51] cdonovick commented on #98
@rdaly525 @rsetaluri @leonardt
What are all your opinions on this? You guys actually use hwtypes.

As far I am concerned I would think the following is the most intuitive rule:
[code]
But again I am not really a user so don't have a lot of stake in this.

[2019-10-16 19:19] phanrahan commented on #98
I agree that is more precise.

Yes, it would be good to get other comments on this, including @jameshegarty.

My default model for numeric types these days is Rust, which does not implicit type conversion and requires types to match on numeric operators.

[2019-10-20 20:43] rdaly525 commented on #98
I am fine with that typechecking rule

[2019-10-21 18:34] leonardt commented on #98
I am a fan of stricter rules, requiring the user to do conversion where necessary.

I think the difference between the two most recent proposed rules by @cdonovick and @phanrahan is that @cdonovick uses `isinstance(operand, type(self))` whereas @phanrahan uses `type(self) == type(operand)`.

In @cdonovick's scheme, it would be okay to do something like `bits + uint`, since `uint` is a subclass of

[2019-10-21 18:43] phanrahan commented on #98
I switched my vote from `type(self) == type(operand)` to `isinstance(operand, type(self))`. My reasoning is that if we are going to use inheritance, we should inherit operators from the parent class.

The following would be legal.
[code]
Since `uint` is a `bits`. The uint would be cast to a `bit`, the bitwise `&` would be performaned, and a `bits` would be returned. The length of the `uint` would

[2019-10-21 18:54] leonardt commented on #98
Okay, it seems that actually works with Caleb's rule, basically operator would be defined on uint, so it would fail an isinstance check with a bits (but the other way around would work for a bits operator).

So the summary seems to be implicit upcasting (casting to the super type) is allowed.

[2019-10-21 19:00] phanrahan commented on #98
My only additional comment is that the type work properly for commutative operators.
[code]

[2019-10-21 19:01] rsetaluri commented on #98
I'm also generally in favor of allowing this implicit casting to super type and defining the ops on the the "oldest" member in the type hierarchy.

[2019-10-21 20:32] leonardt opened #99 "kwargs interface for constructing product types"
This is an idiom in a lot of exiting magma code, not sure if we want to support it (note this is using magma's Tuple, which is changing to Product for named fields in the hwtypes branch):
[code]
This allows one line definition of types rather than having to explicitly define a new subclass of `Product`, e.g.
[code]

There is a way to do this using `type`, with
[code]

But it's not quite as conveni

[2019-10-21 20:34] leonardt commented on #99
Another option: `make_Product(x=m.In(m.Bit), y=m.Out(m.Bit)`, this is probably the most explicit naming convention as a "type constructor"

[2019-10-21 20:41] rsetaluri commented on #99
I think `make_product` would be the best. It is explicit and pretty pythonic (e.g. see https://docs.python.org/3/library/dataclasses.html?highlight=dataclass#dataclasses.make_dataclass)

[2019-10-21 21:12] leonardt commented on #98
Not sure if I should start a new issue for this, but magma has to extend the Tuple/Product types for various reasons, so I would vote to add Tuple/Product (and Sum, etc...) to be part of the family if possible.

[2019-10-21 22:20] leonardt opened #100 "dunderscore operators not defined in base class"
Right now the dunderscore operators (e.g. __add__) are not defined in the ABC, instead they are defined as `bvadd`, etc.., then the concrete classes implement them but also have to define the dunderscore methods (e.g. https://github.com/leonardt/hwtypes/blob/master/hwtypes/z3_bit_vector.py#L471-L491 and https://github.com/leonardt/hwtypes/blob/a184707062497a1b68e1af2c293c744482833d6f/hwtypes/bit_v

[2019-10-21 22:35] leonardt commented on #100
I think I see the issue now, basically, we want to return notimplemented in the case that an error occurs to try and dispatch to "other"'s implementation to see if it can handle the inconsistent size. To do this, we need to define the operators in the context of the concrete implementation.

[2019-10-21 23:58] phanrahan commented on #100
When I first implemented the `BitVector` class, I added `bv*` methods that were intended to exactly reproduce the SMTBitVector semantics.

[2019-10-22 14:36] cdonovick commented on #98
@phanrahan we can have `bits & unit` and `uint & bits` both return `bits` by defining `__r*__` operators and returning not implemented

[code]

Again I think we should add arithmetic operators to bits so that its inline with bitvector.

[2019-10-22 14:40] cdonovick commented on #98
@leonardt In my mind there is no reason you should have to subclass the ADT types.  Maybe we meet to discuss what your needs are.

And in any event I am strongly opposed to adding them to the family.  They are not dependent on or related to BitVector types in any way.

[2019-10-22 14:49] cdonovick commented on #100
@leonardt We can add the dunder methods to the base classes.  The way things are set up in bitvector is not totally by design.

To get the AssembledADT to work I needed bitvector to return NotImplemented.  I couldn't just change my coerce function because it used in a bunch of places.   Further I didn't want the bvmethods to return NotImplemented.

In any event I think this will be addressed by th

[2019-10-22 15:40] cdonovick commented on #99
We already have this interface
https://github.com/leonardt/hwtypes/blob/master/tests/test_adt.py#L142

[2019-10-22 15:40] #99 closed, assigned to nobody

[2019-11-08 15:44] Nic30 opened #101 "similar software"
Hello,

because I was not able to find project like your's I have written my [own](https://github.com/Nic30/pyMathBitPrecise).
I added reference on your project to similar project in readme section of my project, do you know about any other similar project?

It would be best if we can somehow merge our projects, just because code duplication is wrong. However I did not look in to details.

[2019-11-15 18:52] cdonovick commented on #101
@Nic30 Thanks for link!  There are a number of python hdls (PyMTL, MyHDL) I am not really familiar with them enough to tell you if they have their own python simulator (and therefore bitvector library).

There is https://engineering.purdue.edu/kak/dist/BitVector-3.4.9.html but it is not specifically aimed at hardware.

I see you support 3-value logic, we have meant to implement this but it has not

[2019-11-15 19:23] Nic30 commented on #101
I know for me the problem is that it is everything packed together I am developing similar tool.
There was a discussion if we can split this project so we can share the code. There was positive response but as far as I know I am the only one who is actually doing it.

Actually 3-value logic can be emulated. I do not think it is necessary, but it is definitely nice to have.

No, I was searching for

[2019-11-15 19:50] cdonovick commented on #101
@Nic30

Several weeks after I wrote the code the github recommended me your repo...

Isn't that always the way it goes?

The C dependencies have actually been an issue for us as well.  We actually wanted to make them optional but it never happened because of ... well I don't really have a good reason.  They are their for our floating point implementation but are not necessary for the core bitvecto

[2019-11-15 22:39] cdonovick opened #102 "[RFC] Better support for magma in hwtypes"
As I have been working on trying to get Sum types to work in magma I have realized that I have developed things in a way that is fairly incompatible with magma.  There are two major issues, qualification of types (`In`, `Out`, etc...) and wiring.

[2019-11-15 22:39] cdonovick commented on #102
I think qualifiers could be made using `modifiers`. See:
https://github.com/leonardt/hwtypes/blob/master/tests/test_modifiers.py
https://github.com/leonardt/hwtypes/blob/master/hwtypes/modifiers.py

However raw modifiers are probably not sufficient as magma does not allow operators on input types (those for which `is_input()` returns `True`) .  I think this could be resolved by having the `In` mod

[2019-11-15 22:39] cdonovick commented on #102
As for wiring I think it would be pretty easy to bring in.  Its a well defined operation (unification).  My only concern is the use of `<=` as a wiring operator.  First it makes static analysis / AST transformations harder because I have to reason about `<=` differently depending on whether I am looking at `Expr(Compare(lhs, LtE, rhs))` or `Compare(lhs, LtE, rhs)` in some other context.
e.g.:
[cod

[2019-11-16 09:51] Nic30 commented on #101
With C libraries it is a problem, because of free servers as I wrote.
I am trying to solve similar issue in https://github.com/Nic30/hdlConvertor/issues/51 (The C++/Python library has some Python code which needs to be shared with other projects. But we do not want to add dependency on C libraries due problems mentioned.)

For that library it seems to me that it is good solution to split it on Pyt

[2019-12-02 03:11] phanrahan opened #103 "Unit"
Sum and Product types usually have a type Void/Zero and Unit.

Void stands for the type with no values. Unit stands for the type with one value.

In peak, Unit would be useful for specifying instructions without any arguments. For example,

[code]

Or, is there another way to do this?

[2019-12-30 16:37] phanrahan opened #105 "tests failing"
Not sure what I need to do to fix this. `bit_vector.py` doesn't exist.

[code]

[2019-12-30 16:43] rdaly525 commented on #105
That is a strange error... Are you sure you are running from hwtypes:master?
Can you check if hwtypes/hwtypes/bit_vector.py is in your local repo?
Also have you tried a fresh environment?

[2019-12-30 16:45] phanrahan commented on #105
I cloned it from scratch. Now it works. Not sure what happened.

[2019-12-30 16:45] #105 closed, assigned to nobody

[2020-01-08 03:51] rdaly525 opened #107 "Too eager of casting in SMTBit.ite"
I would expect the following to raise a type error. Is this expected behavior or a bug?

[code]

[2020-01-08 07:43] splhack commented on #98
I'm happy with stricter rules, no implicit conversion but inheritance operators work as https://github.com/leonardt/hwtypes/issues/98#issuecomment-544651967

My question is, what is explicit conversion in magma? is `uint()` explicit?

Currently,

    uint(SInt_value) -> Error

Because `uint` has the rule (`sint` has a typo though https://github.com/phanrahan/magma/pull/525 ). Even if `uint` is exp

[2020-01-08 18:43] cdonovick commented on #107
This basically is question about whether the following should work: `bit.ite(bv, 5)`
All of the other operators / methods currently will try to coerce there operands.  The fact the operand is a bit should not matter to this rule.

[2020-01-08 18:48] cdonovick commented on #107
I am fine with removing coercion from the ITE.  I am not okay with special casing bit.

[2020-01-08 21:02] cdonovick commented on #107
Actually I think I can block this specific behavior by first trying to cast to bit, before tying to cast to bv.

[2020-01-08 21:56] #107 closed, assigned to cdonovick

[2020-01-12 16:03] rdaly525 opened #111 "A generic ADT visitor class"
It would be great to have a visitor class for ADT types and ADT values.

[2020-01-12 18:35] phanrahan opened #114 "Failing test"
[code]

[2020-01-13 06:52] rdaly525 commented on #114
@phanrahan, I cannot reproduce. What is the error message?

[2020-01-16 21:01] rdaly525 opened #116 "Syntax's are not working correctly with isinstance()"
See the failing test test_adt_syntax in tests/test_adt.py in branch 'adt_meta'

[2020-01-16 22:53] #116 closed, assigned to cdonovick

[2020-01-17 00:38] rdaly525 commented on #114
@phanrahan can this be closed?

[2020-01-17 00:47] #114 closed, assigned to nobody

[2020-01-21 15:03] rdaly525 opened #119 "NameError bug with AttrSyntax"
The following test

[code]

Produces the error:

`NameError: name 'A' is not defined`

Weirdly, if you define the classes outside any function, it does not raise the error. Also the same error occurs with TaggedUnion

[2020-01-21 15:09] cdonovick commented on #119
This is how python works.   Nothing to do with hwtypes.   https://docs.python.org/3/reference/executionmodel.html#resolution-of-names

[2020-01-21 15:09] #119 closed, assigned to cdonovick

[2020-01-27 21:31] rdaly525 opened #120 "Unhack TypeFamilies for magma"
Currently, Magma has a different Enum/Product/Tuple from the hwtypes.adt types. This causes a lot of hacked user code in order to get Peak to compile to magma.

I would request we add all ADT types into TypeFamily so that we can nicely define ADT types the following way:

[code]

Enum/Product/Tuple are probably sufficient in the short term, but we should also add Sum, and TaggedUnion once magma su

[2020-01-27 21:59] cdonovick commented on #120
This is basically impossible because magma needs to support qualification (`In(T)`, `Out(T)`) and wiring.
The current plan for magma support in Peak is to use a magma variant of the AADT.

This is currently blocked by the magma compiler not currently supporting arbitrary types which behave correctly but are not one of the magma primitive types.

Unfortunately even once this is unblocked it will st

[2020-01-27 22:03] cdonovick commented on #120
As for why adding to the type ADT types to families is inappropriate: there is no actual relationship with between `hwtypes.Tuple` and `hwtypes.BitVector` hence they not such relationship should be enforced.

[2020-01-27 22:04] cdonovick commented on #120
There is no methods on ADT types that return BV and there is no methods on BV which return ADT, so there is no reason to bundle them.

[2020-01-27 22:05] cdonovick commented on #120
The above solution will automatically give magma support for Sum and TaggedUnion once the magma compiler is updated.

[2020-01-27 22:06] cdonovick commented on #120
@leonardt do we have any timeline on when the `_bits_` protocol should be ready?

[2020-01-28 00:03] rdaly525 commented on #120
Okay, how about aiming for something like this in terms of a coding style
[code]

with the 'assemble' decorator returning the appropriate assembled ADT based off of family and assembler. If assembler is None, it could just return the normal ADT type.

[2020-01-28 03:56] rdaly525 opened #121 "[Feature Request] Add a Union ADT type"
A Union ADT type is similar to a Sum type, except it would not have any tags. There would be no way to determine if a value was of a particular sub-type.

This is a good way to solve @phanrahan  icache initialization issue while still being well typed.
`icacheDataType = Union[Instr,BitVector[32]]`

I also have some auto-mapper usecases for it.

[2020-01-28 05:17] rdaly525 commented on #121
Chatting with Caleb more, this will not work directly as its own independent type since one cannot cast arbitrary python types to other types. It might be able to work as a particular Assembly scheme for Sum type in which it always returns Bit(True) for match.

[2020-01-28 16:23] cdonovick commented on #121
Until you present a compelling case that works with Sum types I am not going to consider building this.

[2020-01-28 16:23] #121 closed, assigned to nobody

[2020-02-03 19:05] cdonovick opened #122 "[RFC] Typing of ite"
Currently the typing of `ite` is a mess and inconsistent with magma.
Now before you all go looking at the mess I want you all to consider the following code snippets and tell me which of the following should be allowable syntax (otherwise you will never understand why `ite` is such a mess).

Assume the following for all snippets:
[code]

Also keep in mind the following property:
[code]

Okay on to

[2020-02-04 00:46] leonardt commented on #122
I think allowing 8 seems reasonable from a purely user facing perspective, it looks like natural code to write.

From what I understand, the reason 6 and 7 work are an artifact of how magma handles muxing return values (on the individual components, rather than muxing the tuple itself).

Supporting 8 would simply require magma to support muxing Python tuples, which itself doesn't seem to be the is

[2020-02-05 16:28] cdonovick commented on #122
You are correct.

No, even ignoring the tuple case we still have the problem that ite is different from all other operators because of an issue I didn't even raise.   No only does it mux `BitVector` (and tuples of `BitVector`) it also supports `Bit`.  So the coercion logic is recursively do the following: coerce it like its a binary bit operator.   If that fails coerce it like its a binary bit vec

[2020-02-07 15:12] rdaly525 opened #125 "ADT naming"
After seeing the request for AnonomousProduct, this got me thinking about #71 and I wanted to give a systematic description of what types we currently have to track naming inconsistencies.

My claim is that we could create up to 16 types which represent the product of the four following binary decisions: (Sum or Product, has_class_name, has_field_names, is_ordered)

Here is the 2x2x2x2 grid where

[2020-02-10 16:50] cdonovick commented on #125
I don't think all of these classifications are fully correct.  There is not quite the equivalence between sum and product as you are describing it:

Its more like this:
`Sum` types are anonymous and indexed by `type`.  `TaggedUnion` types are also indexed by type but are named and have explicit tag names.

`Tuple` types are anonymous and indexed by `int`.  `AnonymousProduct`  types are also indexe

[2020-02-10 16:51] cdonovick commented on #125
There is one important distinctions that I should point out is that `Named Class` types are by default not cached.  While `Anonymous Class` types are.  This is because I want to allow named variants to add methods and getting useful and correct caching with methods is basically not possible without AST introspection.

[code]

This does not currently work with Assembled ADT but in theory as long as

[2020-02-10 17:23] cdonovick commented on #125
I suppose that the other use of an unordered product would be to get the following relationship:
`UProduct[x=int, y=str]  is UProduct[y=str, x=int]`.  So there might be utility to that.  I still see no real use case for an `OrderedSum` though. When would we want `OSum[int, str] is not OSum[str, int]`?

[2020-02-10 17:38] rdaly525 commented on #125
Just to be clear, I am not actually advocating completely filling out the table. Some of the empty spaces might not be very useful (Ordered Sum, Named classes + anonymous fields, etc...). The purpose of this was to enumerate the full space of types in order to categorize what we have and possibly consider more consistent names.

Also, I do think there is a meaningful semantic difference between Pr

[2020-02-10 18:44] cdonovick commented on #125
While `Sum` types are coproducts they are not coproducts in the most traditional sense.  Usually coproducts are `int` indexed and `Coproduct[A, B] is not Coproduct[B, A]` now we can define the index set as `{A, B}`  which takes care of `Sum`.  However, for `TaggedUnion` case is a little bit more weird as its simultaneously two coproduct at once.  It is both the coproduct defined like the `Sum` and

[2020-02-13 01:19] phanrahan commented on #122
I vote for allowing muxing any magma type including tuples.

I also vote for requiring the two types in the then and else clauses to be the same. That is, no coercion. Particular, no coercion of fields in a tuple.  I also think all the if-then-else statement blocks should be consistent with ite.

My queasiness for coercion is due to value preservation. If the types were a lattice, then parent type

[2020-02-13 17:29] cdonovick commented on #122
Do you mean including python tuples?  Just need to disambiguate that term.

I would prefer to have no coercion as well but have been told that people complain if they are not allowed to write: `bv + 1`

What I don't want to do is special case `int` outside the constructor.  My coercion logic simply trys to call the constructor on non BV types, if that fails it raise an error or returns `NotImpleme

[2020-02-13 17:37] cdonovick opened #126 "Unified BitVector Tests"
There have been and continue to be a number of areas of where `[SMT]BitVector` and `Bits` have diverged on the typing of methods and operators.  I propose building a unified test sweet which tests the typing of operators that both magma and hwtypes run.

Now I don't want to require that an implementation necessarily have constant propagation or be castable to int so we can't test the values produc

[2020-02-13 18:21] cdonovick commented on #122
@phanrahan
Not that this relevant to this issue but as a little experiment to test how common the use of `__add__` on `BitVector` is I removed it (just `__add__` not other arithmetic operators). It broke the tests of the following repos:
magma
mantle
fault
lassen
peak

So any PR removing arithmetic operators from `BitVector` will need to update at least those repos.  I did not check gemstone / gar

[2020-02-13 18:52] phanrahan commented on #122
Comments.

- I wasn't referring to python tuples.

-  The int() approach seems reasonable to me.

- Let's review one more time the type conversion rules for all the operators. And then update all the tests to be consistent.

[2020-02-13 18:55] cdonovick commented on #122
Just to be clear @phanrahan excluding python tuple means excluding:
[code]

[2020-02-13 18:57] phanrahan commented on #122
I'd be ok with coercing python tuples to magma tuples. My only worry is this issue is that it will start getting out of control. For example, are we going to continually be adding conversions that are less and less well-defined.

[2020-02-13 19:24] cdonovick commented on #122
Okay here is my issue with support through coercion into `Tuple` inside of `Bit.ite`
[code]
gets transformed approximately to:
[code]
However:
[code]
get transformed approximately to:
[code]

[2020-02-13 20:03] cdonovick commented on #122
I want consistent and clear rules for user code.  Either we allow python tuples or we don't.  If we do you shouldn't have to use stupid code structuring tricks (like `Bar` above) to get it the code to type check.

I think the rules become the most sane if we remove the coercion from `ite` and use the following type unification algorithm (this effectively what is implement but the implementation is

[2020-02-13 23:20] phanrahan commented on #122
I wish we could spend 15 minutes talking about this in person!

Didn't I propose forcing the two side of ite be required to have the same type, i.e. no coercion?

[2020-02-13 23:49] cdonovick commented on #122
sure we can.

I am confused on what you mean by the same type.  My proposal above does insure both sides have the same type.  Do you mean you want to prevent subtype polymorphism? It's going to be very hard to convince me that instances of a child type should not be considered instances of their parent type.  This is seperate from coercion.  Coercion is implicitly calling constructors.

Maybe it w

[2020-02-13 23:53] phanrahan commented on #122
I meant that ite(t,f) requires that the type(t) == type(f).

[2020-02-13 23:55] phanrahan commented on #122
I agree subtypoing does not imply coercion, but when you do an operation you are returning a new value of a different type. For example, if we call bits(uint) we are doing a coercion (IMO) because we make a new value of a different type.

[2020-02-14 00:52] cdonovick commented on #122
Would you say the following C++ program coerces anything:

[code]
Because conceptually my proposal operates in the same way.  It just infers all the type instead having them manually written.

No new value is created.  The type of of the objects never changes.  A new reference with a potentially less specific type is created but that it isn't coercion. That's subtype polymorphism.

Similarly, if `

[2020-02-14 01:01] phanrahan commented on #122
Isn't that called object slicing? You need to "slice" off the parts of the child class. Object slicing is one of the trickiest parts of C++ from what I recall.

Note there is a difference between casting a pointer and assigning a value. That is, these assignments to b and c are very different.
[code]

It is also dangerous to compare python to C++ ...

Magma is a language on values. We don't have p

[2020-02-14 02:02] cdonovick commented on #122
Well I had both object slicing and polymorphism.  The ite example was polymorphism.  The add example is object slicing.   I should have passed references in the add example.
[code]

I am not comparing python to C++ I am comparing a strictly type language imbedded in python to C++.  I chose C++ as its the strictly typed, supports polymorphism, and I know the syntax without needing reference.  Howev

[2020-02-14 02:07] phanrahan commented on #122
I am just saying that when you assign a to b, you are doing a copy constructor. Which means you are converting types. It is not a reference to a child type which is an instance in a parent type. Object slicing is almost as evil as coercion.

Let's continue this conversation outside of this issue.

[2020-02-14 02:16] cdonovick commented on #122
Sure but my not lazily written `ite` example does not do any object slicing.

We can but I think it's pretty relevant. I want to support polymorphism in PEak.  You apparently do not want to have polymorphism in magma.

[2020-02-17 16:22] rdaly525 commented on #122
As a user, I would very much prefer if python tuples worked naturally in the code. My impression from chatting with caleb is that the only reasonable way for 6/7/8 to work is to embed the python tuple logic within the ite, so I do not see any issue with that. In terms of whether the types of the elements of the tuple between both branches are exactly the same or if you allow subtyping relationship

[2020-02-18 22:07] phanrahan commented on #122
I think we should definitely allow tuples.

The remaining issue is whether to allow different types in an ite. I am going to prepare a summary of the design issues.

[2020-06-08 21:50] cdonovick opened #128 "[RFC] BV Protocol"
In order to support `bit.ite(adt1, adt2)` where `type(adt1) is type(adt2)` in PEak  I think I am going to create a `_to_bitvector_`, `_from_bitvector_` protocol in the spirit of the magma protocol.   Do any of you have any feature requests or requirements that I should keep in mind while building this?

My current plan is to subset the magma protocol (modulo a renaming)
[code]

I will probably fol

[2020-06-09 21:31] leonardt commented on #128
Seems reasonable, if I understand the explicit type matches, it basically won't implicitly coerce two protocols to bit vector even if that would work to make the type match (basically, the user has to do the coercion explicitly themselves before calling its), so this is only convenient for when the types of the arguments to ite match (then the function does the conversion internally and also conve

[2020-06-09 21:33] leonardt commented on #128
One wrinkle: is there a reason to not support `isinstance(adt2, adt1)` instead of explicit type equality with `is`? This would make the type system more extensible, but it probably will make the type coercion rules and implementation a big headache, so I could see that as a valid reason to avoid it.

[2020-06-09 21:39] rdaly525 commented on #128
What will be the relationship between the AssembledADT class and this new BitVector protocol mix-in?

[2020-06-09 23:48] cdonovick commented on #128
@leonardt the reason for the `is` is to completely avoid any coercion (even to a base type).  I ensure
[code]
Has the same semantics in pure python and smt because of the `PolyVector`.  Now a similar approach could probably be used for protocols but it would add a lot of requirements to building a protocol type (would need to define a PolyProtocol for each "protocol family").

[2020-06-09 23:52] cdonovick commented on #128
@rdaly525 `assert issubclass(AssembledADT[adt_t, ...], BitVectorProtocol)`

[2020-06-25 20:30] #128 closed, assigned to leonardt, rsetaluri, cdonovick, rdaly525

[2020-07-23 06:32] cdonovick commented on #49
related to https://github.com/phanrahan/magma/issues/752

[2020-08-02 19:16] rdaly525 opened #136 "rebind_bitvector does not work with Tagged Unions"
on branch: strip-fix

tests/test_rebind.py:146

[2020-08-02 23:21] rdaly525 commented on #136
Associated PR: https://github.com/leonardt/hwtypes/pull/137

[2020-08-03 18:13] #136 closed, assigned to cdonovick

[2020-08-13 19:19] cdonovick opened #138 "Allow subclassing of enums to create extensions"
In defining instruction sets and extension it would be convenient if the following worked:
[code]

[2020-10-15 17:43] leonardt opened #142 "Unexpected behavior when using BitVector as index"
Not sure if this is something we want to support, since a workaround is to just call `int` on the BV index value (but then maybe we should add an error check).

Here's an example:
[code]

This will always raise the following error:
[code]

The reason is that when doing `idx < self.size` we get an overflow in the less than operator, so it always evaluates to false (since no BV[2] will be less than

[2020-10-15 17:49] leonardt commented on #142
Generally using a BitVector as a key to set/getitem like this is probably problematic for general objects (since I'd imagine most interfaces expect an `int` type that will certainly behave differently than a BV in some cases)

[2021-01-27 20:47] leonardt opened #143 "[RFC] Special handling of None or 0 (constant) parameter for adc"
This is a minor thought, but a case came up where I wanted to use the `adc` operation but only need the carry out (not the carry in).  I can simply set it 0, and it's likely that downstream tools will optimize this out, but perhaps we can support either a constant 0 or None as the carry input and optimize the behavior (avoid generating the extra add for the carry in in hardware/smt, avoid doing th

[2021-01-27 22:40] cdonovick commented on #143
Seems completely reasonable optimization.  Does anything have to change on the hwtypes side?

[2021-07-26 18:40] rdaly525 opened #145 "Examples and API documentation in the README"
For a newcomer the APIs are not obvious even from the unit tests.

[2022-09-22 15:27] rdaly525 opened #147 "SMT Int class [Enhancement]"
For building up constraints for synthesis problems it is useful to have access to an Int class that plays nicely with SMTBit.

Current implementation in branch: smt_int

Semantics defined in: https://smtlib.cs.uiowa.edu/theories-Ints.shtml

Would be nice to include methods to translate between SMTInt and SMTBitVector.

[2022-09-22 21:43] #147 closed, assigned to cdonovick, rdaly525